* {
  /* border: red 2px solid; */
}

@font-face {
  font-family: StardewValley;
  src: url(./fonts/Stardew_Valley.ttf);
}

body {
  background-image: linear-gradient(
    to bottom,
    rgba(31, 67, 103),
    rgba(4, 120, 231),
    rgba(97, 227, 229)
  );
  height: 100%;
}

.content {
  position: relative;
}

.characters {
  display: flex;
  justify-content: space-evenly;
  padding: 25px;
}

.card {
  margin-bottom: 20px;
}

.name {
  font-family: StardewValley;
}

.SVFont {
  font-size: 40px;
  letter-spacing: 2px;
  color: #904c33;
  font-family: StardewValley;
}

.headers {
  padding-top: 0.25px;
  padding-bottom: 0.25px;
  width: 100vw;
  text-align: center;
  background: linear-gradient(to bottom, #eca65e, #fbc470, #eca65e);
  margin-bottom: 30px;
}

#infoBox {
  width: 80%;
  height: 80%;
  margin: 7% auto;
  background-color: #eca65e;
  border-radius: 6px;
  padding: 4px;
}
