* {
  /* border: red 2px solid; */
  transition: all 0.5s;
}

*:focus {
  outline: none;
}

@font-face {
  font-family: StardewValley;
  src: url(./assets/fonts/Stardew_Valley.ttf);
}

body {
  background-image: url(./assets/img/background.png);
  height: 100vh;
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=152330), auto;
}

.content {
  position: relative;
  height: 100%;
}

.menu_button {
  width: 200px;
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=152389), auto;
}

.back_button {
  width: 125px;
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=152389), auto;
}

.menu {
  height: 30vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.characters {
  display: flex;
  justify-content: space-evenly;
  padding: 25px;
}

.row {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
}

.card {
  margin-bottom: 20px;
}

.card:active,
.card:active {
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=152389), auto;
}

.name {
  font-family: StardewValley;
  font-size: 40px;
  letter-spacing: 2px;
  color: #904c33;
}

.SVFont {
  font-size: 40px;
  letter-spacing: 2px;
  color: #56170d;
  font-family: StardewValley;
}

.header {
  padding-top: 0.25px;
  padding-bottom: 0.25px;
  width: 100vw;
  text-align: center;
  margin-bottom: 30px;
}

.main_logo {
  width: 40vw;
}

#infoBox {
  width: 100vw;
  margin-top: 10%;
  /* background-color: rgba(251, 196, 112); */
  position: relative;
  background-image: url(./assets/img/dialogue_box.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel {
  width: 40vw;
}

.arrow {
  transition: all 0.5s;
  padding: 15px;
  background-color: rgba(251, 196, 112, 0.4);
  border-radius: 15px;
  color: #56170d;
  margin-top: 90px;
}

.arrow:hover {
  transition: all 0.5s;
  background-color: #eca65e;
  color: #56170d;
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=152389), auto;
}

.pagination_circle {
  color: rgba(86, 23, 13, 0.5);
}

.pagination_circle:hover {
  color: rgba(86, 23, 13);
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=152389), auto;
}

.pagination_circle:active,
.pagination_circle:focus {
  color: #eca65e;
}

/* @media only screen and (max-width: 1400px) {
  #infoBox {
    height: 60%;
  }
} */

@media only screen and (max-width: 1000px) {
  .main_logo {
    width: 60vw;
  }

  #infoBox {
    height: 40%;
  }
}

@media only screen and (max-width: 850px) {
  .main_logo {
    width: 80vw;
  }

  .menu {
    margin-top: 175px;
    flex-direction: column;
  }

  .menu_button {
    margin-bottom: 30px;
  }
}
